.fullWidthHeader{
  background: var(--colour-blue);
  padding: 2rem;
  font-family: "Arial";
  width: 96vw;
  margin:0;
}

.marginalisedBody{
  margin:1.5em;
  width: 96vw;
}

.para{
  color: var(--colour-offwhite);
  font-family: "Arial"
}